<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.javavirys.minecraftmod">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.javavirys.minecraftmod.MinecraftModApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BaseTheme"
        tools:ignore="AllowBackup">

        <activity
            android:name="com.javavirys.minecraftmod.presentation.screen.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.javavirys.minecraftmod.presentation.screen.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BaseTheme.Main" />
    </application>

</manifest>